@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap');

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

p, blockquote {
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container {
    text-align: center;
    padding: .8em 1.2em;background-color: transparent;
}

.logo {
    width: 125px;
}

.hidemob{
    display: none;
}

.menu {
    width: 25px;
    /* margin-top: 15%; */
}

header {
    
    display: flex;
    justify-content: space-between;
}

.mainwel {
    margin: 2em 0;   
}

.signature {
    text-align: center;
    padding: 10% 0;
}

.signature ul {
    list-style-type: none;
    margin-top: 45px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20%;
}

section {
    background: cover no-repeat;
    background-image: url('https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    height:100vh;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding-top: 25%;
}

.black-container {
    background-color: #000;
    color: #fff;
    padding: 10% 0;

}
.black-container ul {
    list-style-type: none;
    margin-top: 45px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.black-container img{
    width: 85%;
    height: auto;
    /* border-radius: 50%; */
}
.btn {
    text-transform: uppercase;
    padding: 1em;
    background-color: transparent;
    color: #fff;
    border: 2px solid #e7e7e7;
    border-radius: 5%;
}

.btn:hover {
    text-transform: uppercase;
    padding: 1em;
    background-color: rgba(224, 187, 64, 0.452);
    color: black;
    border: 2px solid gold;
    border-radius: 5%;
}

.gray-container{
    background-color: rgba(128, 128, 128, 0.125);
    padding: 8% 0;
}

hr {
    width: 25vw;
}

.contactus {
    padding: 5% 0;
}

.contactus li{
    padding: .75% 0;
}

.contactus li input{
    padding: .75% 0;
}

.contactus ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

footer {
    color:#fff;
    text-align: center;
    background-color: black;
    height: 35%;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

/* footer ul:nth-last-child(1) {
    padding-top: 15%;
} */

footer ul:nth-last-child(1) {
    margin-top: 15%;
}

footer li a {
    color:gold;
}